{% extends 'base.html.twig' %}

{% block title 'Accueil BDE' %}


{% block body  %}
    <style>
        .imgevent {
            height: 300px;
            width: 300px;
            margin-right: auto;
            margin-left: auto;
        }

    </style>

    <div class = "jumbotron text-center" >
        <h1>Recherchez un événement en particulier</h1>
        <form action="/events" id="searchthis" method="get">
            <input id="search" name="q" type="text" placeholder="Rechercher" />
            <input id="search-btn" type="submit" value="Rechercher" />
        </form>
    </div>

    <!-- 1ère ligne-->
    <div class="container-fluide">
        <div class="row">
            <div class="card text-center text-white bg-dark col-lg-4">
                <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap" style="position: center">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Voir plus</button>
                </div>
            </div>

            <div class="card text-center  text-white bg-dark col-lg-4">
                <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Voir plus</button>
                </div>
            </div>

            <div class="card text-center text-white bg-dark col-lg-4">
                <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button>Voir plus</button>
                </div>
            </div>

        </div>
    </div>
    <!-- 2ème ligne-->
    <div class="container-fluide">
            <div class="row">
                <div class="card text-center text-white bg-dark col-lg-4">
                    <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap" style="position: center">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <button>Voir plus</button>
                    </div>
                </div>

                <div class="card text-center  text-white bg-dark col-lg-4">
                    <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <button>Voir plus</button>
                    </div>
                </div>

                <div class="card text-center text-white bg-dark col-lg-4">
                    <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap" >
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <button>Voir plus</button>
                    </div>
                </div>

            </div>
        </div>

    <!-- 3ème ligne-->
    <div class="container-fluide">
            <div class="row">
                <div class="card text-center text-white bg-dark col-lg-4">
                    <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <button>Voir plus</button>
                    </div>
                </div>

                <div class="card text-center  text-white bg-dark col-lg-4">
                    <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <button>Voir plus</button>
                    </div>
                </div>

                <div class="card text-center text-white bg-dark col-lg-4">
                    <img class="imgevent" src="/Images/plage.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <button>Voir plus</button>
                    </div>
                </div>

            </div>
        </div>

    <div class = "container" >

    </div>
{% endblock %}