{% extends 'base.html.twig' %}

{% block title 'Évennements' %}



{% block body %}
    <p>Bravo!!!!!!!!!!!</p>
    <h1 id="title"></h1>
    <p id="description"></p>
    <div id="price">Prix : </div>
    <div id="btnIns"></div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ asset ('js/scriptEventSpe.js') }} "></script>
{% endblock %}
