{% extends 'base.html.twig' %}

{% block title 'Évennements' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/styleEventspe.css') }} ">

{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 id="title"></h1>
    </div>

    <div class="lu">
        <p id="description"></p>
        <span id="date"></span>
        <span id="price">Prix : </span><br><br>
        <div id="btnIns"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ asset ('js/scriptEventSpe.js') }} "></script>
{% endblock %}
