{% extends 'base.html.twig' %}

{% block title 'Evenements' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/styleEvent.css') }} ">
{% endblock %}

{% block body %}


    <div class = "container jumbotron text-center" >
        <div id="demo"></div>

        <h1 id="top">Evenements</h1><br>
        <div id="formulaire"></div>
    </div>
    <div class="container text-center event"></div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="{{ asset ('js/scriptEvents.js') }} "></script>
{% endblock %}