{% extends 'base.html.twig' %}

{% block title 'Évennements' %}

{% block body %}



    <div class = "jumbotron text-center" >
        <h1>Titre de l'Évenement</h1>

    </div>








{% endblock %}