.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .left{
        float:left;
        margin-left: 20%;
        height: 100%;
        padding-right: 3%;
        border-right: 2px solid #222222;
    }
    .right{
        float:right;
        margin-right: 20%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .left{
        float:left;
        margin-left: 15%;
        height: 100%;
        padding-right: 13%;
        border-right: 2px solid #222222;
    }
    .right{
        float:right;
        margin-right: 15%;
    }
}