
/* *************************************Sidebar Panier********************************** */
.titrePanier{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}

    .total{
        display: flex;
        margin-left: 2%;
    }
    .payer{
        margin-left: 10px;
    }
    
    .itemPanier{
        display: flex;
        justify-content: space-around;
        margin-left: 2%;
    }
    
    .boutonSupp{
        height: 3%;
        align-self: flex-end;
    }
    
    /* *************************************Form add Article******************************** */

    .bg-modal {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }
    
    .modal-contents {
        height: auto;
        width: 60%;
        background-color: white;
        border-radius: 4px;
    }
    
    #formAddArticle{
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
    
    .inputCss{
        margin: 15px;
    }

    #submit{
       width: 100%;
       text-align: center;
       text-decoration: none;
    }

    #submit:hover{
        background: #4caf50;
        color:white;
    }

    input {
        margin: 15px;
        display: block;
        width: 50%;
        padding: 8px;
        border: 1px solid gray;
        border-radius: 4px;
    }  

    .close {
        align-self: flex-end;
        right: 10px;
        font-size: 42px;
        color: #333;
        cursor: pointer;
        transform: rotate(45deg);
    }
    
    /* ******************************Meilleurs ventes de la semaine************************* */
    
    .ventesDeLaSemaine{
        display: flex;
        flex-direction: column;
        height: 500px; 
    }
    .imagesDeLaSemaine{    
        display: flex;
        justify-content: space-around;
    }
    
    .titreM{
        margin: 2%;
        display: flex;
        justify-content: center;
    }
    
    .description{
        margin: 2%;
        display: flex;
        flex-direction: column;
    }
        
    /* ******************************Tous les articles en ventes**************************** */

    @media (min-width: 1050px) {
       .articleAV {
           display: flex;
            height: auto;
            margin-left: 2%;
            margin-top: 4%
       }
       .imgAV{
            width: 100%;
            margin: 2%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    
        #aVendre{
            margin-bottom: 2%;
        }

        .NomArticle{
            width: 300px;     
            }

        #NomArticleSemaine{
            width: 200px;
            }

        #rightMenu{
            width:25%;
            display:none;
            right:0;
            background:pink;
        }

        }

    @media (max-width: 1050px) {
        .articleAV /* La plus grosse div */ {
            width: 90%;
            height:auto;
            margin-left: 1.7%;
        }
        

        .imgAV{
            width: 100%;
            margin: 2%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        #aVendre{
            margin-bottom: 2%;
        }
            
        #NomArticle{
            width: 300px;
        }
            
        #NomArticleSemaine{
            width: 200px;
        }

        #rightMenu{
            width: 35%;
            display:none;
            right:0;
            background:pink;
        }

    }

       .imgText{
            width: 300px;
            margin-bottom: 2%;
        }
    
    /* ******************************Style de la page*************************************** */
    
    body{
        background-color: rgb(52,58,64);
    }
    div{
        color: white;
    }
    a, a:hover {
    color: white;
    }