{% extends 'base.html.twig' %}

{% block title 'Mentions légales' %}



{% block body  %}
<style>
    body{
        color: white;
    }
    div{
        margin-left: 10px;
        margin-right: 15px;
    }
</style>

<br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Nos mentions légales</h2>
                <p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>
                <h4 >Éditeur du site</h4><br>
                <a href="accueil.html.twig">Site BDE Cesi Toulouse</a>
                <p>par BDE Cesi Toulouse <br>
                    16 rue Magellan<br>
                    31670 Labège<br>
                    Tel : +33 (0)6 17 51 14 29
                    e-mail : bdecesi@viacesi.fr

                </p>
                <h4>Conditons d'utilisation</h4><br>

                <p>
                    Le site accessible par les url suivants : www.site-bde-cesi-toulouse.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société BDE Cesi Toulouse.
                    <br> BDE Cesi Toulouse ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
                </p><br>

                <h4>Limitation des Responsabilité</h4>

                <p>
                    Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).<br>

                    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Natural-net ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.<br>

                    Les photos sont non contractuelles.<br>

                    Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Natural-net.
                </p>

                <h4>Sécurité</h4>
                <p>Le CESI s’engage à mettre en œuvre tous les moyens nécessaires au bon fonctionnement du site. Cependant, le CESI ne peut pas garantir la continuité absolue de l’accès aux services proposés par le site. Les adhérents sont informés que les informations et services proposés sur le site pourront être interrompus en cas de force majeure et pourront le cas échéant contenir des erreurs techniques.
                </p>

                <h4>Utilisation de cookies</h4>
                Des cookies sont utilisés sur nos sites.<br>
                <a href="/cookies">Pour plus d’informations, vous pouvez vous référer à la Politique sur le Protection des Données Personnelles en cliquant-ici</a>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}