{% extends 'base.html.twig' %}

{% block title 'Polituqes de confidentialité' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/styleFooter.css') }} ">

{% endblock %}


{% block body  %}


    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Notre Politique de protection des données personnelles à partir du 25 mai 2018</h3><br><br>


                <p>Nous utilisons des cookies sur notre site pour les besoins de votre navigation, l'optimisation et la personnalisation des nos services sur notre plateforme en mémorisatn vos préférences
                </p>
                Définition de "Cookie" .  Un "cookie" est un fichier texte déposé sur votre ordinateur lors de la visite de notre plateforme. Dans votre ordinateur, les cookies sont gérés par votre navigateur internet.

                Les cookies nous permettent aussi de voir comment notre plateforme est utilisée. Nous recueillons automatiquement votre adresse IP et des informations relatives à l’utilisation de notre Site.
                Notre plateforme peut ainsi se souvenir de votre identité lorsqu’une connexion a été établie entre le serveur et le navigateur web. Les informations fournies précédemment dans un formulaire web pourront ainsi être conservées.
<br>
<br>
               <h4>Différents types de cookies sont utilisés sur notre Site :</h4>
                <ul>
                    <li>Des cookies sont strictement nécessaires au fonctionnement de notre plateforme. Ils vous permettent d’utiliser les principales fonctionnalités de notre plateforme (par exemple l’accès à votre compte). Sans ces cookies, vous ne pourrez pas utiliser notre plateforme normalement.</li>
                    <li>Des cookies dits « analytiques » : afin d’améliorer nos services, nous utilisons des cookies de mesures d’audience telles que le nombre de pages vues, le nombre de visites, l’activité des utilisateurs et leur fréquence de retour, notamment grâce aux services de Google Analytics.
                        Ces cookies permettent seulement l’établissement d’études statistiques sur le trafic des utilisateurs sur notre plateforme, dont les résultats sont totalement anonymes pour nous permettre de connaître l’utilisation et les performances de notre plateforme et d’en améliorer le fonctionnement.
                        Accepter ces cookies est une condition nécessaire à l’utilisation de notre plateforme. Si vous les refusez, nous ne pouvons vous garantir une utilisation normale sur notre plateforme.</li>
                    <li>Des cookies fonctionnels : Il s’agit des cookies qui nous permettent de personnaliser votre expérience sur notre plateforme en mémorisant vos préférences. Ces cookies peuvent être placés par une tierce partie pour notre compte, mais elle n’est pas autorisée à les utiliser à d’autres fins que celles décrite.</li>
                    <li>Des cookies de ciblage : Ces cookies sont liés aux services fournis par des tierces parties, comme les boutons « J’aime » ou « Partager ». Ces cookies sont placés par des tierces parties.</li>
                </ul>
                <br>
                <br>
                <h2><li>Sécurité</li></h2><br>
                <p>Le BDE Cesi Toulouse assure la protection de vos données par l'utilisation de moyens de sécurisation physiques</p>

            </div>
        </div>

    </div>






{% endblock %}
