{% extends 'base.html.twig' %}

{% block title 'Inscription/Connexion' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <style>
        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        @media (min-width: 768px) {
            .container {
                width: 750px;
            }
        }

        @media (min-width: 992px) {
            .container {
                width: 970px;
            }
            .left{
                float:left;
                margin-left: 20%;
                height: 100%;
                padding-right: 3%;
                border-right: 2px solid #222222;
            }
            .right{
                float:right;
                margin-right: 20%;
            }
        }

        @media (min-width: 1200px) {
            .container {
                width: 1170px;
            }
            .left{
                float:left;
                margin-left: 15%;
                height: 100%;
                padding-right: 13%;
                border-right: 2px solid #222222;
            }
            .right{
                float:right;
                margin-right: 15%;
            }
        }
    </style>

    <div class="container jumbotron text-center ">
        <div class="left">
            <h1>Connexion</h1><br><br>
            <input type="text" placeholder="Nom" id="nameC" name="name"  required
               minlength="4" maxlength="8" size="30"><br><br>
            <input type="text" placeholder="Prenom" id="firstNameC" name="first name"  required
               minlength="4" maxlength="8" size="30"><br><br>
            <input type="password" placeholder="Mot de passe" id="passwordC" name="password"  required
               minlength="8" maxlength="256" size="30"><br><br>
            <input type="submit" name="submit" onclick="getUserInfoC();"><br><br>
        </div>

        <div class="right">
            <h1>Inscription</h1><br><br>
            <input type="text" placeholder="Nom" id="nameI" name="name"  required
                   minlength="4" maxlength="8" size="30"><br><br>
            <input type="text" placeholder="Prenom" id="firstNameI" name="first name"  required
                   minlength="4" maxlength="8" size="30"><br><br>
            <input type="email" placeholder="Adresse email" id="emailI" name="email"  required
                   minlength="4" maxlength="8" size="30"><br><br>
            <input list="browsers" placeholder="Localisation" id="localisationI" name="localisation" required
                   minlength="4" maxlength="8" size="30"><br><br>
            <datalist id="browsers">
                <option value="Toulouse">
                <option value="Paris">
                <option value="Pau">
                <option value="Montpellier">
                <option value="Aix-en-Provence">
                <option value="Nice">
                <option value="Grenoble">
                <option value="Lyon">
                <option value="Dijon">
                <option value="Châteauroux">
                <option value="Angoulême">
                <option value="Bordeaux">
                <option value="La Rochelle">
                <option value="Nantes">
                <option value="Saint-Nazaire">
                <option value="Brest">
                <option value="Le Mans">
                <option value="Orléans">
                <option value="Caen">
                <option value="Rouen">
                <option value="Reims">
                <option value="Nancy">
                <option value="Strasbourg">
                <option value="Arras">
                <option value="Lille">
            </datalist>
            <input type="password" placeholder="Mot de passe" id="passwordI" name="password"  required
                   minlength="8" maxlength="256" size="30"><br><br>
            <input type="submit" name="button" onclick="getUserInfoI();"><br><br>
        </div>
    </div>

        <script>
            function getUserInfoC()
            {
                var userC = [];
                userC[0] = document.getElementById("nameC").value;
                userC[1] = document.getElementById("firstNameC").value;
                userC[2] = document.getElementById("passwordC").value;

            }

            function getUserInfoI()
            {
                var userI = [];
                userI[0] = document.getElementById("nameI").value;
                userI[1] = document.getElementById("firstNameI").value;
                userI[2] = document.getElementById("emailI").value;
                userI[3] = document.getElementById("localisationI").value;
                userI[4] = document.getElementById("passwordI").value;

            }

        </script>

{% endblock %}