{% extends 'base.html.twig' %}

{% block title 'Boite à Idées' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/styleIdea.css') }} ">
{% endblock %}

{% block body %}
    <div class = "container jumbotron text-center" >
        <div id="demo"></div>

        <h1 id="top">Boîte à Idées</h1><br>
        <div id="formulaire"></div>
    </div>
    <div class="container text-center idees"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ asset ('js/scriptIdea.js') }} "></script>
{% endblock %}
