{% extends 'base.html.twig' %}

{% block title 'Agence Immobilier Michel' %}

{% block body %}
    <style>
        .description{
            width:60%; height: 100px;
        }
        .txtnav{
            color: #ffffff;
        }
        .idees{
            width: 18rem;
        }
    </style>
    <div class = "container jumbotron text-center" >
        <h1>Boîte à Idées</h1><br>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <input type="text" placeholder="Titre de votre idée" id="title" name="title"  required
                           size="30"><br><br>
                    <textarea class="description" placeholder="Description de votre idée" id="desciption" name="message"></textarea><br>
                    <input type="submit" name="submit" onclick="addIdea();">
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <h2 class="txtnav">Nouvelle idée</h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon"></div>
                </button>
            </nav><br>
        </div>

        <span class="idees"></span>

    </div>


    <script>



        function addIdea()
        {
            var id = 1; //id_idee
            var titre = document.getElementById("title").value;
            var description = document.getElementById("desciption").value;
            $("span").prepend("<div class=\"card\" ><div class=\"card-body\"><h5 class=\"card-title\">" + titre + "</h5><p class=\"card-text\">" + description + "</p><button onclick='addLike(" + id + ")'  class=\"btn btn-primary\">Voter pour cette idée</button></div></div>");
        }

        function addLike(id) {
            alert(id);
            //add like to idea with id_idee = id
        }

    </script>
{% endblock %}