{% extends 'base.html.twig' %}

{% block title 'Boîte à idées' %}

{% block body %}
    <div class = "container jumbotron text-center" >
        <h1>Boîte à Idées</h1><br>
        <input style="float:left" type="button" value="Nouvelle idée" onclick="hideAddIdea()">
        <div style="background-color: rgb(203, 206, 209); padding: 50px; padding-left: 50px;
	        padding-right: 50px;" id="hide">
            <textarea id="desciption" name="message" style="width:60%; height: 100px;"></textarea><br>
            <input type="submit" name="submit" onclick="addIdea();">
        </div>

        
        <div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>

    <script>
        var hide = true;
        document.getElementById('hide').style.visibility = 'hidden';
        function hideAddIdea()
        {
            if(hide){
                document.getElementById('hide').style.visibility='visible';
                hide = false;
            }else {
                document.getElementById('hide').style.visibility = 'hidden';
                hide = true;
            }
        }

        function addIdea()
        {
            var description = document.getElementById("desciption").value;
            alert(description);

        }

    </script>
{% endblock %}