{% extends 'base.html.twig' %}

{% block title 'Boite à Idées' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/styleIdea.css') }} ">
{% endblock %}

{% block body %}
    <div class = "container jumbotron text-center" >
        <h1>Boîte à Idées</h1><br>
        <div id="formulaire"></div>
    </div>
    <div class="container text-center idees"></div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset ('js/scriptIdea.js') }} "></script>
{% endblock %}
