{% extends 'base.html.twig' %}

{% block title 'Boutique BDE' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/styleBoutique.css') }} ">
{% endblock %}

{% block body %}
    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{# *********************************Sidebar Panier****************************************************** #}

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" id="rightMenu">
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
            <h1 class="titrePanier">Votre Panier</h1>
            <div class="total"></div>
            <div class="panier"></div>
    </div>

    <div class="">
        <button class="w3-button w3-grey w3-xxlarge w3-right" onclick="openRightMenu()">&#9776;</button>
    </div>

{# *********************************Add article********************************************************* #}

    <div class="ajouterArticle"></div>
    <div class="bg-modal">
        <div class="modal-contents">
            <button class="close">+</button>

            <h1 style="margin-left:20px;">Ajout d'un nouvel article</h1>

            <form id="formAddArticle">

                {# <label for="displayImg">Photo de l'article</label>
                    <input type="file" id="displayImg" name="displayImg" style="margin-bottom:20px;">
                    <img id="recupImg" src="#" alt="Votre image" style="height:10%; width:auto;"> #}
                    
                <label for="nom">Nom de l'article</label>
                    <input  class="inputCss" id="nom" type="text" placeholder="Nom de l'article">

                <label for="exampleFormControlSelect2">Catégorie</label>
                    <select class="form-control inputCss" id="exampleFormControlSelect2" style="width:50%;">
                        <option selected>Choisisez</option>
                            <option value="Polo">Polo</option>
                            <option value="Pull">Pull</option>
                            <option value="Bracelet">Bracelet</option>
                    </select>

                <label for="description">Description</label>
                    <input type="text" id="description" class="inputCss" placeholder="Descriptions">

                <label for="prix">Prix en €</label>
                    <input type="number" id="prix" class="inputCss" placeholder="Prix">
                <button href="#" class="button inputCss" id="submit" onclick="addArticle(), reset()">Submit</button>

            </form>
        </div>    
    </div>

{# *********************************Meilleurs ventes**************************************************** #}
   
    <div class="ventesDeLaSemaine">
        <h1 class="titreM">Meilleurs ventes de la semaine</h1>

        <div class = "imagesDeLaSemaine">
            <div class="description">
                <img src="http://placehold.it/200x200" alt="First img">
                <p id="NomArticleSemaine">Nom de l'objet à vendre <br>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Prix</p>
            </div>
            <div class="description">
                <img src="http://placehold.it/200x200" alt="Second img">
                <p id="NomArticleSemaine">Nom de l'objet à vendre <br>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Prix</p>
            </div>    
            <div class="description">
                <img src="http://placehold.it/200x200" alt="Third img">
                <p id="NomArticleSemaine">Nom de l'objet à vendre <br>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Prix</p>
            </div>
        </div>
    </div>

{# *********************************Tri par catégorie*************************************************** #}

    <div class="tri">
        <label for="triCat">Trier par catégorie</label>
                    <select class="" id="triCat">
                        <option selected value="choisissez">Choisisez</option>
                            <option value="Polo">Polo</option>
                            <option value="Pull">Pull</option>
                            <option value="Bracelet">Bracelet</option>
                    </select>
        <button onclick="tri()">Valider</button>
    </div>

{# *********************************Articles à vendre*************************************************** #}

    <div class="articleAV">
        <div class="imgAV test" id="Sav"></div>
            
    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src='http://code.jquery.com/jquery-1.9.1.js'></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6
OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ asset ('js/scriptBoutique.js') }}"></script>
{% endblock %}
