{% extends 'base.html.twig' %}

{% block title 'Boutique BDE' %}


{% block body %}

    <div class = "jumbotron text-center" >
        <h1>Boutique
        </h1>

        <p>
            Michel c'est le brésil !!!
        </p>
    </div>

    <div class = "container" >

    </div>
{% endblock %}